.about-section {
    min-height: 90vh;
    color:aliceblue;
    background-color: #1a1a2e;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    /* padding: 6vh; */
}

.about-text {
    padding: 3vh;
    /* height: 60vh;
    width: 100vh;
    align-items: center;
    justify-content:center;
    display: flex; */
}
